<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
		/>
		<title>Trabajo Práctico 4 - Mathías Ezequiel Latrónico</title>
	</head>
	<body>
		<main class="container">
			<div class="headings">
				<h1>Trabajo Práctico 4</h1>
				<h3>Mathías Ezequiel Latrónico</h3>
			</div>
			<div class="headings">
				<h2>Ocurrio un error</h2>
				<p><%= message %>: <%= error %></p>
			</div>
			<div>
				<a href="/api/auth/login" role="button"> Iniciar sesión </a>
				<a href="/api/auth/register" role="button"> Registrarse </a>
				<a href="/api/oauth/google" role="button">
					Iniciar sesión con Google
				</a>
			</div>
		</main>
	</body>
</html>
